<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Blank</title>

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css">

  <!-- VENDOR SCRIPTS -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

  <!-- APPLICATION SCRIPTS -->
  <script src="/scripts/app.js"></script>

  <!-- GOOGLE FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Anton|Poppins:300" rel="stylesheet">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 header">
        <h1 class="title">Good Eating</h1>
        <p class="slug-line">A custom list of your favorite restaurants!</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 main">
        <div id="restaurant_target"></div>
      </div>
    </div>
  </div>
  <footer class="navbar-fixed-bottom">
    <div class="container">
      <p class="text-muted"><a href="/api">API Documentation</a></p>
    </div>
  </footer>
</body>

</html>
