body {
    color: #000000;
    background-color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Amatic SC', cursive;
    text-align: left;
    text-transform: uppercase;
    font-size: 55px
}
#time-elapsed {
    font-size: 15px;
    margin: 0 0 30px 0;
}
.grumpy-bear {
    width: 200px;
    height: auto;
    margin-left: 50px;
}
