.jumbotron {
  background-image: url(http://www.revolution.co.za/wp-content/uploads/2015/02/Screen-shot-2015-02-13-at-10.41.00-AM.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #EEE;
}
.jumbotron .container {
  height: 450px;
}

.inline-header {
  display: center;
  vertical-align: baseline;
  margin-right: 12px;
}
legend {
  text: bold;
}
