body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  background: url("http://2.bp.blogspot.com/-WiutMisUm1Q/U6RzsjYbaRI/AAAAAAAAG7Q/a98kbLr7VJs/s1600/DSCF3011.JPG");
  background-size: 100% 100%;
}

.mainHeader {
  margin-top: 100px;
  text-align: center;
}

.cats {
  align-items: center;
  text-align: center;
  color: white;
  font-size: 16px;
}

img {
  margin: 10px auto;
  padding: 5px;
}

.listAndForm {
  background-color: rgba(0,0,0,.5);
  padding: 10px;
  margin-top: 15px;
}

.ducksTarget li {
  padding: 5px 0 5px 0;
}

.newDuckForm {
  padding: 5px auto;
}

form {
  color: white;
  font-weight: lighter;
}

label {
  color: white;
  font-weight: lighter;
}

.duckListHeaders {
  color: white;
  font-weight: lighter;
  text-align: center;
}

.ducksList {
  color: white;
  font-weight: lighter;
}

.duckFormHeader {
  color: white;
  font-weight: lighter;
  text-align: center;
  margin: 5px 0 10px 0;
}

.btn-primary {
  font-size: 14px;
  background-color: rgb(131,3,0);
  align-items: center;
  border: solid white 1px;
}
