

body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  background-color: skyblue; /* Sanity Check! */
}

h1 {
  margin-top: 100px;
  text-align: center;
}

.nav-styles {
  padding: 10px 0;
  background-color: green;
}

.nav-list-styles {
  font-size: 35px;
  margin: 0 50px;
}

img {
  height: 100px;
  width: 100px;
}

.movie-image {
  height: 350px;
  width: 100%;
  margin: 50px 25px 15px 25px;
}

.list-text {
  font-family: Arial, Helvetica, sans-serif;;
  text-align: left;
  font-size: 25px;
  margin: 0 0 0 25px;
}

.edit-movies {
  width: 30%;
  margin: 0 0 0 25px;
}

.save-movies {
  width: 30%;
  margin: 0 0 0 25px;
}

.delete-movies {
  width: 30%;
  margin: 0 0 0 25px;
}

.list-display {
  display: inline;
}

.list-edit {
  display: none;
}

.list-input {
  width: 50%;
  margin: 5px 0;
}